/* Styles pour la page de connexion */
body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
}

h2 {
    color: #333;
    font-weight: 600;
    margin-bottom: 20px;
}

.form-control {
    border-radius: 0.25rem;
    box-shadow: none;
}

.btn-block {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.container {
    padding: 50px 0;
}

img {
    max-width: 100%;
    height: auto;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px 0;
}
